{% extends '::base.html.twig' %}
{% block stylesheets %}
  <style type="text/css" media="screen">

html
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
    
#editor
{ 
	position: absolute;
	top:  50px;
	left: 280px;
	bottom:10px;
	right: 10px;
	background: white;
	padding: 0px;
}
#selection
{
		width: 250px;
/*		height: 200px;*/
}
#container
{
		margin-top: 10px;		
}
#container_left
{
/*		float:left;
		margin-right: 10px;
*/}
#container_right
{
}
#compile_output
{
	position: absolute;
	left: 280px;
	bottom: 0px;
	right: 10px;
	/*height:120px;*/
	background: white;
	padding: 0px;
	overflow: scroll;

	height:0px;

	/*	width: 280px;*/
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.mybutton
{
	width:100%;
	margin-bottom:10px;
}
.download_link
{
	margin-left:14px;
}

  </style>
{% endblock %}
{% block javascripts %}
<script src={{ asset("src/ace.js") }} type="text/javascript" charset="utf-8"></script>
<script src={{ asset("src/theme-textmate.js") }} type="text/javascript" charset="utf-8"></script>
<script src={{ asset("src/mode-c_cpp.js") }} type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
function getExample(filename){
	// alert('editting file');
	$.get(filename, function(data)
	{
		// $('.result').html(data);
		editor.getSession().setValue(data);
		// alert('Load was performed.');
	});
}
</script>
<script type="text/javascript">


function throwMud()
{
	dirty=true;
	$("#compile_text").html(" Save & Build");
	$("#revert").removeClass("disabled").click(function(e)
	{
	    e.preventDefault();
	});
	disableLink($(".download_link"));
}
function cleanUp()
{
	dirty= false;
	$("#compile_text").html(" Build");
	enableLink($(".link_ino"));
	disableLink($(".link_hex"));
	$("#revert").addClass("disabled").off('click');
}

function motherInLaw()
{
	if(dirty)
	{
		save_and_build();
	}
	else
	{
		build();
	}	
}

function save()
{
	$.post("{{ path('AceEditorBundle_save') }}", {data: editor.getSession().getValue(), project_name:"{{project_name}}"}, function(data)
	{
		$("#save").addClass("btn-success");
		$("#save_icon").addClass("icon-white");
		$("#operation_output").html("Saved successfuly.");
		cleanUp();
		window.setTimeout(function () {
		    $("#save").removeClass("btn-success");
			$("#save_icon").removeClass("icon-white");
		}, 500);
		// alert("Data received: " + data);
	});	
}

function revert()
{
	$.get("{{ path('AceEditorBundle_getdata',{'project_name':project_name}) }}", function(data)
	{
		editor.getSession().setValue(data);
		$("#revert").addClass("btn-success");
		$("#revert_icon").addClass("icon-white");
		$("#operation_output").html("Reverted successfuly.");
		cleanUp();
		window.setTimeout(function () {
		    $("#revert").removeClass("btn-success");
			$("#revert_icon").removeClass("icon-white");
		}, 500);
		// alert("Data received: " + data);
	});	
}

function build()
{
	$.post("{{ path('AceEditorBundle_compile') }}", { project_name:"{{project_name}}"}, function(data)
	{
		var obj = jQuery.parseJSON(data);
		if(obj.success == 0)
		{
			$("#compile_output").css('color', 'red');
			for (var i=0; i<obj.lines.length; i++)
			{
				$(".ace_gutter-cell").filter(function(index) {
				  return $(this).html() == obj.lines[i];
				}).css("text-decoration","underline").css("color","red");
			}
			 
			$("#editor").css("bottom","150px");
			$("#compile_output").css("bottom","0px");
			$("#compile_output").css("height","120px");
			$("#compile_output").addClass("well");
			$("#compile").addClass("btn-warning");
			$("#compile_icon").addClass("icon-remove");
			
			
			$("#compile_output").html(obj.text);
			$("#operation_output").html("Compilation failed.")
		}
		else
		{
			$("#compile_output").css('color', '');
			$(".ace_gutter-cell").css("text-decoration", "").css("color","");
			$("#editor").css("bottom","");
			$("#compile_output").css("bottom","");
			$("#compile_output").css("height","");
			$("#compile_output").removeClass("well");
			$("#compile").addClass("btn-success");
			$("#compile_icon").addClass("icon-ok");

			$("#operation_output").html(obj.text)
			$("#compile_output").html("");
			enableLink($(".link_hex"));
		}
		$("#compile_icon").removeClass("icon-check").addClass("icon-white");

		window.setTimeout(function () {
		    $("#compile").removeClass("btn-success").removeClass("btn-warning");
				$("#compile_icon").removeClass("icon-white").removeClass("icon-remove").removeClass("icon-ok").addClass("icon-check");
		}, 500);
		// alert("Data received: " + data);
	});	
}

function save_and_build()
{
	save();
	$(document).ajaxStop(function()
	{
		build();
		$(this).unbind('ajaxStop');
	});
}

function disableLink(link)
{
	link.css("text-decoration","line-through").click(function(e)
	{
	    e.preventDefault();
	});
}
function enableLink(link)
{
	link.css("text-decoration","").off('click');
}
</script>
{% endblock %}
{% block body %}
<div class="container">
<div id="container" class="row-fluid">	
	<div class="row-fluid">
	<div id="container_left" class="span2">
	    <button id = "save" class="btn mybutton" /><i id="save_icon" class="icon-download"></i> Save Changes</button><br />
		<button id = "compile" class="btn mybutton"><i id="compile_icon" class="icon-check"></i><span id="compile_text"> Build</span></button>
		<button id = "revert" class="btn mybutton disabled"><i id="compile_icon" class="icon-arrow-left"></i> Revert</span></button>
		<div id="saves" class="well">
			<i class="icon-file"></i>Download:<br />
			<a href="{{ path('AceEditorBundle_download', { 'project_name': project_name }) }}" class="download_link link_ino">Download .ino</a>
			<a href="{{ path('AceEditorBundle_download', { 'project_name': project_name, 'type' : "hex"}) }}" class="download_link link_hex">Download .hex</a>
		</div>
		<div>
			Total Number of lines: <span id="line_count">0</span>
		</div>
		<div id="operation_output">
		</div>
	</div>
	<div id="container_right">
		<pre id="editor">{% render "AceEditorBundle:Default:getData" with {'project_name': project_name} %}</pre>
		<div id="compile_output">
		</div>
	</div>	
</div>
</div>
</div>

<script>
var editor = ace.edit("editor");
var dirty = false;
	
window.onload = function()
{
    editor.setTheme("ace/theme/textmate");

    var JavaScriptMode = require("ace/mode/c_cpp").Mode;
    editor.getSession().setMode(new JavaScriptMode());

	editor.getSession().setUseSoftTabs(false);
	editor.getSession().on('change', function()
	{
		throwMud();
		$("#line_count").html(editor.getSession().getValue().split("\n").length);
	});
	
	editor.commands.addCommand({
	    name: 'saveFile',
	    bindKey: {
	        win: 'Ctrl-S',
	        mac: 'Command-S',
	        sender: 'editor|cli'
	    },
	    exec: function(env, args, request) {
	        save();
	    }
	});
		
	editor.commands.addCommand({
	    name: 'buildFile',
	    bindKey: {
	        win: 'Ctrl-R',
	        mac: 'Command-R',
	        sender: 'editor|cli'
	    },
	    exec: function(env, args, request) {
	        motherInLaw();
	    }
	});
	
	editor.commands.addCommand({
	    name: 'uploadFile',
	    bindKey: {
	        win: 'Ctrl-U',
	        mac: 'Command-U',
	        sender: 'editor|cli'
	    },
	    exec: function(env, args, request) {
	        alert("Y U NO Upload?");
	    }
	});
	
	editor.commands.addCommand({
	    name: 'CheckWord',
	    bindKey: {
	        win: 'Ctrl-Space',
	        mac: 'Ctrl-Space',
	        sender: 'editor|cli'
	    },
	    exec: function(env, args, request) {
			var selection = editor.getSession().doc.getTextRange(editor.getSelectionRange());
			window.open('http://www.google.com/search?q='+selection+'+inurl:arduino.cc/en/Reference&btnI');
	    }
	});
	
	editor.commands.addCommand({
	    name: 'MyComments',
	    bindKey: {
	        win: 'Ctrl-/',
	        mac: 'Command-/',
	        sender: 'editor|cli'
	    },
	    exec: function(env, args, request)
		{
			editor.toggleCommentLines();
	    }
	});
	
};


$(document).ready(function()
{	
	$("#line_count").html(editor.getSession().getValue().split("\n").length);
	disableLink($(".link_hex"));
	$("#save").click(function()
	{
		save();
	});
	$("#revert").click(function()
	{
		revert();
	});
	
	$("#compile").click(function() 
	{
		motherInLaw();
	});
	
});
</script>
	

{% endblock %}

{% block examples%}
<ul class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples<b class="caret"></b></a>
    <ul class="dropdown-menu">
			{% for section in examples %}
		    <li class="dropdown">
			<a href="#">{{section[0]}}</a>
			<ul class="dropdown-menu">
	    	{% for file in section[1] %}
	    	    <li onclick="getExample('/examples/{{section[0]}}/{{file}}/{{file}}.ino')"><a href="#">{{file}}</a></li>
	    	{% endfor %}
			</ul>
			</li>
			{% endfor %}
	
    </ul>
  </li>
</ul>

{% endblock %}