{% extends '::base.html.twig' %}
{% block stylesheets %}
  <style type="text/css" media="screen">

html
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body
{
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
    
#editor
{ 
	position: absolute;
	top:  50px;
/*	left: 280px;*/
	bottom:10px;
/*	height:1000px;*/
	background: white;
	padding: 0px;
}
#selection
{
		width: 250px;
/*		height: 200px;*/
}
#container
{
		margin-top: 10px;		
}
#container_left
{
/*		float:left;
		margin-right: 10px;
*/}
#container_right
{
}
#compile_output
{
	position: absolute;
	bottom: 0px;
	height:0px;
	padding: 0px;
	overflow-y: scroll;
	background: white;
	/*	width: 280px;*/
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.btn
{
	width:100%;
	margin-bottom:10px;
}

.download_link
{
	margin-left:14px;
}
  </style>
{% endblock %}
{% block javascripts %}
<script src={{ asset("src/ace.js") }} type="text/javascript" charset="utf-8"></script>
<script src={{ asset("src/theme-textmate.js") }} type="text/javascript" charset="utf-8"></script>
<script src={{ asset("src/mode-c_cpp.js") }} type="text/javascript" charset="utf-8"></script>
{% include 'AceEditorBundle:Default:editor_scripts.html.twig' %}
{% endblock %}
{% block body %}
<div class="container">
<div id="container" class="row-fluid">	
	<div class="row-fluid">
	<div id="container_left" class="span2">
		<button id = "revert" class="btn disabled"><i id="revert_icon" class="icon-arrow-left"></i> Revert</span></button>
	    <button id = "save" class="btn disabled" /><i id="save_icon" class="icon-download"></i> Save Changes</button>
		<button id = "compile" class="btn"><i id="compile_icon" class="icon-check"></i><span id="compile_text"> Build</span></button>
		<select id="boards" class="span2">
			<option>Arduino Uno</option>
			<option>Arduino Duemilanove</option>
		</select>
		<hr>
		    <div id="scanning">
				<button id = "upload" class="btn disabled"><i id="upload_icon" class="icon-upload"></i><span id="upload_text"> Upload</span></button>
		        <button id="connect" class="btn disabled"><i id="connect_icon" class="icon-asterisk"></i> Serial Monitor</button>
				<select id="ports" class="span2"></select>
				<select id="baudrates" class="span2"></select>
	    </div>
		<div id="saves" class="well">
			<i class="icon-file"></i>Download:<br />
			<a href="{{ path('AceEditorBundle_download', { 'project_name': project_name }) }}" class="download_link link_ino">Download .ino</a>
			<a href="{{ path('AceEditorBundle_download', { 'project_name': project_name, 'type' : "hex"}) }}" class="download_link link_hex">Download .hex</a>
		</div>
		<div>
			Total Number of lines: <span id="line_count">0</span>
		</div>
		<div id="progress" class="progress progress-striped active">
		    <div id="progress_val" class="bar" style="width: 40%;"></div>
		    </div>
		<div id="operation_output">
		</div>
		<applet width="1" height="1"  id="myapplet" style="visibility:hidden;"
		        code="eu.amaxilatis.codebender.CodeBenderApplet"
		        archive="http://students.ceid.upatras.gr/~amaxilatis/ardoserial/ardoSerial-0.1-jar-with-dependencies.jar">
		</applet>
	</div>
	<div id="container_right" class="span10">
		<div class="row-fluid">
		<pre id="editor" class="span9">{% render "AceFileBundle:Default:getCode" with {'project_name': project_name} %}</pre>
		</div>
		<div class="row-fluid">
		<div id="compile_output" class="span9"></div>
		</div>
	</div>	
</div>
</div>
</div>


<script>
var editor = ace.edit("editor");
var dirty = false;
	
window.onload = function()
{
    editor.setTheme("ace/theme/textmate");

    var JavaScriptMode = require("ace/mode/c_cpp").Mode;
    editor.getSession().setMode(new JavaScriptMode());

	editor.getSession().setUseSoftTabs(false);
	editor.getSession().on('change', function()
	{
		throwMud();
		$("#line_count").html(editor.getSession().getValue().split("\n").length);
	});
	
	addCommands();
	getIds();	
	scan();
};


$(document).ready(function()
{	
	$("#progress").hide();
	$("#scanning").hide();

	$("#line_count").html(editor.getSession().getValue().split("\n").length);
	{% if hex_exists == false %}
		disableLink($(".link_hex"));
	{% endif %}	
	
	$("#compile").click(function() 
	{
		motherInLaw();
	});
});
</script>
	

{% endblock %}

{% block examples%}
<ul class="nav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Load Example<b class="caret"></b></a>
    <ul class="dropdown-menu">
		{% include 'AceEditorBundle:Default:examples_section.html.twig' with {'examples': examples, 'type':1} only %}
		<li class="divider"></li>
		<li class="nav-header">Libraries</li>
		{% include 'AceEditorBundle:Default:examples_section.html.twig' with {'examples': lib_examples, 'type':2} only %}
		<li class="divider"></li>
		<li class="nav-header">External Libraries</li>
	
    </ul>
  </li>
</ul>

{% endblock %}
