{% extends '::base.html.twig' %}
{% block stylesheets %}
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }
    
    #editor { 
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 300;
        right: 0;
        width: 800px;
/*        height: 400px;*/
    }
  </style>
{% endblock %}
{% block body %}
	<div>
	<!--- <form action="{{ path('AceEditorBundle_save', { 'filename': filename }) }}" method="post"> --->
    <input type="submit" value="Save Document" id = "save" />
	<form action="{{ path('AceEditorBundle_save', { 'filename': filename }) }}" method="post">
	<input type="hidden" value = "bla" name="data"/>
    <input type="submit" value="Save Document"/>
	</form>
	</div><br />
	<pre id="editor">{{ code }}</pre>	
	<!-- <div id="editor"> -->
	<!-- </div> -->
	<script src={{ asset("src/ace.js") }} type="text/javascript" charset="utf-8"></script>
	<script src={{ asset("src/theme-textmate.js") }} type="text/javascript" charset="utf-8"></script>
	<script src={{ asset("src/mode-c_cpp.js") }} type="text/javascript" charset="utf-8"></script>
	<script>
    var editor = ace.edit("editor");
	window.onload = function() {
	    editor.setTheme("ace/theme/textmate");

	    var JavaScriptMode = require("ace/mode/c_cpp").Mode;
	    editor.getSession().setMode(new JavaScriptMode());

		editor.getSession().setUseSoftTabs(false);
	};
	$(document).ready(function()
	{	
		$("#save").click(function() 
		{
			$.post("{{ path('AceEditorBundle_save', { 'filename': filename }) }}", {data: editor.getSession().getValue()}, function(data)
			{
				alert("Data received: " + data);
			});
		});
	});

	</script>
	

{% endblock %}
