<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<link type="text/css" href={{ asset("jquery-ui/css/smoothness/jquery-ui-1.8.17.custom.css") }} rel="stylesheet" />	
		<link href="{{ asset("bootstrap/css/bootstrap.css") }}" media="screen" rel="stylesheet" type="text/css" />
	    <link href="{{ asset("bootstrap/css/bootstrap-responsive.css") }}" media="screen" rel="stylesheet" type="text/css" />
		
		<style type="text/css" media="screen">
		body
		{
			background: url({{ asset("blizzard.png")}});
			padding-top: 40px;
		}
		
		#avatar
		{
			float: left;
			width:25px;
			height:25px;
			margin: -3px 5px 0 0;
			border-radius: 3px;
		}
		</style>
		<script src={{ asset("jquery-ui/js/jquery-1.7.1.min.js") }} type="text/javascript"></script>
		<script src={{ asset("jquery-ui/js/jquery-ui-1.8.17.custom.min.js") }} type="text/javascript"></script>
	    {% block javascripts %}{% endblock %}
    </head>
    <body>
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container-fluid">
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
		      <a class="brand" href="{{ path('AceEditorBundle_homepage')}}">{{ site_name }}</a>
		      <div class="nav-collapse">
		        <ul class="nav">		
		          <li id="homepage"><a href="{{ path('AceEditorBundle_homepage')}}">Home</a></li>

					{% if is_granted('ROLE_USER') %}		      
			          <li id="options"><a href="{{ path('AceEditorBundle_options')}}">Options</a></li>
				      {# <li><a href="{{ path('_security_logout')}}" id="logout">Log Out</a></li> #}
					{% endif %}
					<li><form class="navbar-search pull-left" action="{{ path('AceEditorBundle_homepage')}}">
					  <input type="text" class="search-query" placeholder="Search">
					</form>
					</li>
		        </ul>
				{% block examples %}
				{% endblock %}
				
				{% if not is_granted('ROLE_USER') %}
		        <ul class="nav pull-right">
					<li id="register">
				      	<a href="{{ path('fos_user_registration_register')}}">Register</a>
					</li>
					<li id="login">
				      	<a href="{{ path('fos_user_security_login')}}">Log In</a>
					</li>
				</ul>
				{% endif %}		
				{% if is_granted('ROLE_USER') %}
				<ul class="nav pull-right">
				    <li><a href="{{ path('fos_user_security_logout')}}" id="logout">Log Out</a></li>
					{% render "AceEditorBundle:Default:image" %}
				</ul>
				<p class="navbar-text pull-right">
					Logged in as <a href="javascript:void(0)">{{ app.user.username }}</a>
				</p>
				{% endif %}
		      </div><!--/.nav-collapse -->
		    </div>
		  </div>
		</div>		
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		
		<script src="{{ asset("bootstrap/js/bootstrap.js") }}"></script>
		<!-- <script src="../assets/js/bootstrap-transition.js"></script>
		<script src="../assets/js/bootstrap-alert.js"></script>
		<script src="../assets/js/bootstrap-modal.js"></script>
		<script src="../assets/js/bootstrap-dropdown.js"></script>
		<script src="../assets/js/bootstrap-scrollspy.js"></script>
		<script src="../assets/js/bootstrap-tab.js"></script>
		<script src="../assets/js/bootstrap-tooltip.js"></script>
		<script src="../assets/js/bootstrap-popover.js"></script>
		<script src="../assets/js/bootstrap-button.js"></script>
		<script src="../assets/js/bootstrap-collapse.js"></script>
		<script src="../assets/js/bootstrap-carousel.js"></script>
		<script src="../assets/js/bootstrap-typeahead.js"></script> -->
	
	<!-- 		      <div id="header" class="true clearfix">
			        <div class="container clearfix">
			  <div id="userbox">
			    <div id="user">
			      <a id="help" href="http://help">Help</a>
			    </div>
			  </div>

	        </div>
	      </div> -->
	
        {% block body %}{% endblock %}
    </body>
</html>
